/*FONT*/
body {
    font-family: 'Roboto', sans-serif;
}

/*Change the basic background color*/
.first-section,
.footer {
    background-color: #1F2937;
}

.third-section {
    background-color: #E5E7EB;
}

.fourth-section,
.sign-up {
    background-color: #3882F6;
}

/*Change the text style*/
.text {
    color: #F9FAF8;
}

.link-text {
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800; /*Extra bold*/
}

.hero-secondary-text {
    font-size: 18px;
}

.logo {
    font-size: 24px;
}

.in4-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.subtext {
    font-size: 18px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 18px;
    font-weight: 800;
}

.action {
    font-size: 18px;
    font-weight: 800;
}

/*Remove bullet list and link underline*/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*layout*/

/*---------FIRST SECTION---------*/
.first-section {
    padding: 8px 100px 85px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.links {
    display: flex;
    gap: 16px;
}

.girl {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    height: auto;
    /* Magic! */ /*https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang*/
    max-width: 40vw;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/*custom button*/
.button1 {
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 3px;
    width: 80px;
}

.button1:hover {
    background-color: #3267bd; 
}